@import "variables";
.producto__padre{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 40px;
    background-color: $color-cards;
}
.seccion{
    display: flex;
    width: 290px;
    height: 415px;
    background-color: $color-bg;
    border: 3px solid $color-primario;
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: $fuente;
    color: $color-primario;
    h3{
        padding: 20px;
        font-size: 30px;
    }
    img{
        width: 200px;
        height: 200px;
        padding: 10px;
    }
    button{
        height: 30px;
        align-self: flex-end;
        width: 100%;
        border: none;
        font-family: lora;
        background-color: $color-header;
        border-radius: 3px;
        color: $color-primario;
    }
    @media(max-width: 500px){
        height: 370px;
        h3{
            font-size: 20px;
        }
    }
}