.quienes{
    font-family: lora, 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    color: rgb(56, 56, 53);
}
#quienes1{
    top: 50%;
}
#quienes2{
    top: 60%;
}