@import "variables";
.quienes{
    font-family: $fuente;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    color: $color-texto1;
}
#quienes1{
    top: 50%;
}
#quienes2{
    top: 60%;
}