$color-bg: #D8D8D8;
$color-primario: #93988f;
$color-cards: #C4C5BD;
$color-texto: #F5F5DC;
$color-texto1: rgb(56, 56, 53);
$color-form: rgba(73, 73, 73, 0.426);
$color-header: rgba(245, 245, 220, 0.746);
$fuente: lora, 'Courier New', Courier, monospace;