* {
  margin: 0;
  padding: 0; }

nav {
  display: flex;
  width: 100%;
  height: 80px;
  z-index: 3;
  flex-direction: row;
  background-color: #93988f;
  justify-content: space-between;
  align-items: center;
  position: fixed; }
  nav ul {
    display: flex;
    list-style: none; }
    nav ul li a {
      display: block;
      color: #F5F5DC;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 20px;
      font-family: lora, "Courier New", Courier, monospace; }
      nav ul li a:hover {
        transition: 0.5s;
        color: #b1afaf; }
    @media (max-width: 900px) {
      nav ul {
        position: fixed;
        flex-direction: column;
        background-color: #93988f;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        transition: 0.4s;
        z-index: 200; }
        nav ul li {
          padding: 20px;
          text-align: center; }
          nav ul li a {
            font-size: 25px; } }
    nav ul:hover {
      right: 0; }
  @media (max-width: 900px) {
    nav .fa-bars {
      display: block;
      padding: 15px; }
      nav .fa-bars:hover + ul {
        right: 0; } }

.titulo h2 a {
  color: #F5F5DC;
  font-size: 40px;
  margin-left: 15px; }

.fa-bars {
  color: #F5F5DC;
  font-size: 25px;
  display: none; }

.encabezado {
  width: 100%;
  position: relative;
  font-family: lora, "Courier New", Courier, monospace;
  color: rgba(245, 245, 220, 0.746); }
  .encabezado img {
    width: 100%;
    height: 600px; }
  .encabezado h1 {
    margin-top: 70px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
    font-size: 120px;
    padding: 10px; }
  .encabezado h2 {
    margin-top: 70px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 10px;
    font-size: 40px;
    top: 50%; }
  @media (max-width: 900px) {
    .encabezado h1 {
      top: 35%;
      font-size: 100px; }
    .encabezado h2 {
      font-size: 30px;
      top: 50%; }
    .encabezado img {
      height: 600px; } }
  @media (max-width: 700px) {
    .encabezado h1 {
      top: 25%;
      font-size: 70px; }
    .encabezado h2 {
      font-size: 20px;
      top: 40%; }
    .encabezado img {
      width: 100%;
      height: 400px; }
    .encabezado #cactitu {
      top: 35%; }
    .encabezado #cacsubti {
      top: 50%; } }
  @media (max-width: 500px) {
    .encabezado h1 {
      top: 25%;
      font-size: 50px; }
    .encabezado h2 {
      font-size: 14px;
      top: 40%; }
    .encabezado img {
      width: 100%;
      height: 300px; }
    .encabezado #cactitu {
      top: 40%; }
    .encabezado #cacsubti {
      top: 50%; } }
  @media (max-width: 380px) {
    .encabezado h1 {
      top: 10%;
      font-size: 45px; }
    .encabezado h2 {
      text-align: center;
      font-size: 15px;
      top: 30%; }
    .encabezado img {
      width: 100%;
      height: 200px; }
    .encabezado #cactitu {
      top: 30%; }
    .encabezado #cacsubti {
      top: 45%; } }

#modicac {
  margin-top: 80px; }

.t-stroke {
  color: transparent;
  -moz-text-stroke-width: 3px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2c2929; }

.t-shadow {
  text-shadow: 5px 6px white; }
  @media (max-width: 500px) {
    .t-shadow {
      text-shadow: 4px 3px white; } }

body {
  background: #D8D8D8; }

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 60px;
  justify-content: space-between;
  background-color: #D8D8D8; }
  @media (max-width: 1583px) {
    .tarjetas {
      padding: 30px; } }
  @media (max-width: 1524px) {
    .tarjetas {
      justify-content: space-evenly; } }
  @media (max-width: 1157px) {
    .tarjetas {
      justify-content: space-around; } }

.card {
  display: flex;
  width: 300px;
  height: 500px;
  border: 2px solid;
  border-radius: 3px;
  padding: 20px;
  margin: 11px;
  justify-content: space-between;
  color: #93988f;
  align-items: center;
  flex-direction: column;
  background-color: #C4C5BD; }
  .card h3 {
    text-align: start;
    font-size: 40px; }
  .card p {
    font-size: 25px; }
  .card img {
    width: 230px;
    height: 230px;
    align-items: center; }
  .card a {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-family: lora, "Courier New", Courier, monospace;
    color: #93988f; }
  @media (max-width: 900px) {
    .card {
      justify-content: space-around; } }
  @media (max-width: 500px) {
    .card {
      height: 400px; }
      .card p {
        text-align: center;
        /*prueba*/ } }
  @media (max-width: 380px) {
    .card p {
      text-align: center; } }

footer {
  width: 100%;
  height: 95px;
  color: #F5F5DC;
  background-color: #93988f;
  justify-content: space-evenly;
  font-family: lora, "Courier New", Courier, monospace;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media (max-width: 700px) {
    footer {
      font-size: 10px; } }
  @media (max-width: 400px) {
    footer {
      font-size: 15px;
      flex-direction: column;
      height: 250px; } }

.foot__tienda {
  text-align: center; }

.foot__hora {
  text-align: center; }

.foot__redes {
  font-size: 30px; }
  @media (max-width: 700px) {
    .foot__redes {
      font-size: 20px; } }

.fa-brands {
  padding: 10px;
  font-size: 20px; }

.producto__padre {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 40px;
  background-color: #C4C5BD; }

.seccion {
  display: flex;
  width: 290px;
  height: 415px;
  background-color: #D8D8D8;
  border: 3px solid #93988f;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: lora, "Courier New", Courier, monospace;
  color: #93988f; }
  .seccion h3 {
    padding: 20px;
    font-size: 30px; }
  .seccion img {
    width: 200px;
    height: 200px;
    padding: 10px; }
  .seccion button {
    height: 30px;
    align-self: flex-end;
    width: 100%;
    border: none;
    font-family: lora;
    background-color: rgba(245, 245, 220, 0.746);
    border-radius: 3px;
    color: #93988f; }
  @media (max-width: 500px) {
    .seccion {
      height: 370px; }
      .seccion h3 {
        font-size: 20px; } }

.formulario {
  width: 800px;
  height: auto;
  background-color: #93988f;
  color: #F5F5DC;
  font-family: lora, "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "lugar1 lugar1" "lugar2 lugar3" "lugar4 lugar5" "lugar6 lugar6"; }
  .formulario label:nth-child(1) {
    grid-area: lugar1; }
  .formulario label:nth-child(2) {
    grid-area: lugar2; }
  .formulario label:nth-child(3) {
    grid-area: lugar3; }
  .formulario label:nth-child(4) {
    grid-area: lugar4; }
  .formulario label:nth-child(5) {
    grid-area: lugar5; }
  .formulario button:nth-child(6) {
    grid-area: lugar6;
    background-color: rgba(73, 73, 73, 0.426);
    color: #F5F5DC;
    font-size: 20px;
    font-family: lora, "Courier New", Courier, monospace;
    border: none;
    border-radius: 5px;
    margin: 10px; }
  .formulario label select {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgba(73, 73, 73, 0.426);
    padding: 15px;
    color: rgba(73, 73, 73, 0.426);
    font-size: 15px; }
  .formulario label {
    display: flex;
    flex-direction: column;
    padding: 10px; }
  .formulario input, .formulario textarea {
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 2px solid rgba(73, 73, 73, 0.426);
    margin-top: 10px;
    color: rgba(73, 73, 73, 0.426);
    font-family: lora, "Courier New", Courier, monospace;
    font-size: 15px; }
  @media (max-width: 900px) {
    .formulario {
      width: 600px;
      font-size: 15px; }
      .formulario button:nth-child(6) {
        font-size: 15px; } }
  @media (max-width: 700px) {
    .formulario {
      width: 400px;
      font-size: 20px; } }
  @media (max-width: 480px) {
    .formulario {
      width: 300px;
      padding: 10px;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "lugar1 lugar1" "lugar2 lugar2" "lugar3 lugar3" "lugar4 lugar4" "lugar5 lugar5" "lugar6 lugar6"; } }

.accordion {
  font-family: lora, "Courier New", Courier, monospace; }

.quienes {
  font-family: lora, "Courier New", Courier, monospace;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  color: #383835; }

#quienes1 {
  top: 50%; }

#quienes2 {
  top: 60%; }

/*!
   * Bootstrap  v5.2.3 (https://getbootstrap.com/)
   * Copyright 2011-2022 The Bootstrap Authors
   * Copyright 2011-2022 Twitter, Inc.
   * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
   */
.fade {
  transition: opacity 0.15s linear; }
  @media (prefers-reduced-motion: reduce) {
    .fade {
      transition: none; } }
  .fade:not(.show) {
    opacity: 0; }

.collapse:not(.show) {
  display: none; }

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease; }
  @media (prefers-reduced-motion: reduce) {
    .collapsing {
      transition: none; } }
  .collapsing.collapse-horizontal {
    width: 0;
    height: auto;
    transition: width 0.35s ease; }
    @media (prefers-reduced-motion: reduce) {
      .collapsing.collapse-horizontal {
        transition: none; } }

.accordion {
  --bs-accordion-color: #212529;
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #212529;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: #e7f1ff; }

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition); }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button {
      transition: none; } }
  .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color); }
    .accordion-button:not(.collapsed)::after {
      background-image: var(--bs-accordion-btn-active-icon);
      transform: var(--bs-accordion-btn-icon-transform); }
  .accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition); }
    @media (prefers-reduced-motion: reduce) {
      .accordion-button::after {
        transition: none; } }
  .accordion-button:hover {
    z-index: 2; }
  .accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow); }

.accordion-header {
  margin-bottom: 0; }

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color); }
  .accordion-item:first-of-type {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius); }
    .accordion-item:first-of-type .accordion-button {
      border-top-left-radius: var(--bs-accordion-inner-border-radius);
      border-top-right-radius: var(--bs-accordion-inner-border-radius); }
  .accordion-item:not(:first-of-type) {
    border-top: 0; }
  .accordion-item:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius); }
    .accordion-item:last-of-type .accordion-button.collapsed {
      border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
      border-bottom-left-radius: var(--bs-accordion-inner-border-radius); }
    .accordion-item:last-of-type .accordion-collapse {
      border-bottom-right-radius: var(--bs-accordion-border-radius);
      border-bottom-left-radius: var(--bs-accordion-border-radius); }

.accordion-body {
  padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x); }

.accordion-flush .accordion-collapse {
  border-width: 0; }

.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0; }
  .accordion-flush .accordion-item:first-child {
    border-top: 0; }
  .accordion-flush .accordion-item:last-child {
    border-bottom: 0; }
  .accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 0; }

.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgba(197, 197, 183, 0.356);
  position: fixed;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center; }
  .loading i {
    font-size: 75px;
    object-fit: cover;
    animation-name: rotar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    color: #93988f; }

@keyframes rotar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
